<header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <a class="navbar-brand" href="#"><img src="assets/images/home/Logo_Menu_Raiz.png" alt="main-logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/manufactura-optica">MANUFACTURA<br/>ÓPTICA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/laboratorios-opticos">LABORATORIOS<br/>ÓPTICOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/maquinaria-y-equipo">MAQUINARIA<br/>Y EQUIPO</a>
                </li>
                <li class="brand-alt">
                    <a class="nav-link" routerLink="/">
                        <img src="assets/images/home/Logo_Menu_Raiz.png" alt="main-logo">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/innovacion-desarrollo">INNOVACIÓN + DESARROLLO</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/contacto"><i class="fa fa-envelope" aria-hidden="true"></i><br/>CONTACTO</a>
                </li>
                <li class="flag-icons">
                    <a href="#"><img src="assets/images/home/Mexico_Flag.png" alt="mx-flag"> Español</a>
                    <a href="#"><img src="assets/images/home/Brazil_Flag.png" alt="br-flag"> Portuges</a>
                    <a href="#"><img src="assets/images/home/UK_Flag.png" alt="us-flag"> English</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
