<footer>
    <div class="row no-gutters">
        <div class="col-md-12">
            <div class="content">
                <p class="main-title">¡Nos encantaría saber de ti!</p>
                <p class="body-content">
                    Ponte en contacto con nuestro equipo para solicitar información sobre cualquiera de nuestros servicios o simplemente para saludar.
                </p>
                <a routerLink="/contacto" class="contact-btn">Contacto</a>
                <ul class="footer-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/manufactura-optica">MANUFACTURA<br/>ÓPTICA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/laboratorios-opticos">LABORATORIOS<br/>ÓPTICOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/maquinaria-y-equipo">MAQUINARIA<br/>Y EQUIPO</a>
                    </li>
                    <li class="brand-alt">
                        <a class="nav-link" routerLink="/">
                            <img src="assets/images/home/Logo_Menu_Blanco.png" alt="logo-alt">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/innovacion-desarrollo">INNOVACIÓN + DESARROLLO</a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/contacto"><i class="fa fa-envelope" aria-hidden="true"></i><br/>CONTACTO</a>
                    </li>
                    <li class="flag-icons">
                        <a href="#"><img src="assets/images/home/Mexico_Flag.png" alt="mx-flag"> Español</a>
                        <a href="#"><img src="assets/images/home/Brazil_Flag.png" alt="br-flag"> Portuges</a>
                        <a href="#"><img src="assets/images/home/UK_Flag.png" alt="us-flag"> English</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
